*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  header{
    background-color: white;
    color: black;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header h2{
     font-size: 30px;
  }
   
  header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    max-height:40px;
    min-height: 40px;
  }
    
  nav ul li{
    list-style: none;
    display: inline-block;
  }
  
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0 15px;
  }
  
  nav ul li a:hover{
   color: rgb(203, 178, 54);
   transition-duration: 0.3s;
  }

/* Tekst allignment */

  h1{
    text-align: center;
  }

  h4{
    text-align: center;
  }
   
/* flex container */
.flex-container{
  flex-wrap: wrap;
  display: flex;


}

.flex-container > div {
  background-color: white;
  align-self: center;
  width: 1000px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
